# gitignore

data/raw/*.csv
data/processed/*.csv
data/output/*.csv
downward/

.venv/
.env
.streamlit/secrets.toml
node_modules
.DS_Store

__pycache__/
*.pyc
*.pyo

.vscode/

/run.sh
.log

output.sas

src/fitness_track_project.egg-info/
sas_plan


fitness_track_project.egg-info/

.streamlit
